# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files (includes .class files)
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# VSCode files
/.vscode/

# Temp files
_temp/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

# Local Data files
/data/